/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}


.container {
  width: 960px;
  margin: auto;
}

#header {
  background-color: black;
  width: 100%;
  height: 90px;
  color: white; 
  border-bottom: 3px yellow solid;
}

#tagline {
  background-color: gray;
  width: 100%;
  height: 65px;
}

#main {
  width: 100%;
  height: 550px;
  background-image: url("images/coworking.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto;
}

#header h1 {
  color: yellow;
  margin-top: 0;
  padding: 10 0 10 10;
  font-size: 24px;
  font-weight: bold;
  padding-top: 20px;
}

#actions {
  height: 270px;
  width: 100%;
  padding: 10px;
}

#footer {
  background-color: black;
  width: 100%;
  height: 45px;
  padding-top: 10px;
  padding-left: 30px;
}

.item {
  width: 200px;
  float: left;
  margin-right: 25px;
  margin-left: 25px;
  height: 250px;
  line-height: 1.5;
  padding-top: 20px;
  margin-bottom: 20px;
}

.itemborder {
  border-right: 1px black solid;
  
}

.itemmain {
  background-color: white;
  opacity: 0.8;
  border: 1px solid black;
  padding: 30px;
  width: 260px;
  position: absolute;
  margin-top: 30px;
  margin-left: 650px;
  height: 400px;
}



nav {
  width: 600px;
  float: right;
}


h2 {
  color: black;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  font-size: 26px;
}

h3 {
  font-weight: bold;
  font-size: 22px;
}

h4 {
  font-weight: bold;
  font-size: 30px;
  font-family: helvetica, sans-serif;
}

h5 {
  font-size: 16px;
  color: white;
}

button {
  background-color: gray;
  width: 150px;
  height: 40px;
  font-weight: bold;
  margin-top: 20px;
  font-size: 15px;
  text-transform: uppercase;
}

.strike {
  color: orange;
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.othernav {
  font-family: helvetica, sans-serif;
}

.find {
text-transform: uppercase;
font-stretch: condensed;
font-weight: bold;
font-family: arial;
}

.mainbutton {
  background: yellow;
  width: 200px;
}


